html {
    background-color: black;
    color: rgb(255, 255, 245);
    font-family: Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
}
a {
    color:white;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;

}